# See man git-config
# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Jeehoon Cha
email = jhchacc@gmail.com

[alias]
br=branch
st=status
au=add -u
cmfx=commit --fixup
camned=commit --amend --no-edit
rbias=rebase -i

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	pager = # less  # DO NOT USE PAGER HERE
